.gridWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  /* overflow: hidden; */
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  max-height: 70vh;
}

@media (max-width: 768px) {
  .grid {
    gap: 4px;
    padding: 2px;
  }
}